environment             = "staging"
enable_public_endpoint  = false
node_desired_size       = 3
node_instance_types     = ["m7i.large"]
node_max_size           = 6
node_min_size           = 3
single_nat_gateway      = true
